:root {
  --tysu_color: #f9b112;
  --tysu_color2: #eb5c37;
  --tysu_fontSize: 1.2rem;
  --tysu_fontWeight: 600;
  --tysu_showdow: 0 0 3px #f9b01210;
  --tysu_inputMargin: 1.8rem 0 0 1.8rem;
}

@media screen and (max-width: 1000px) {
  .tysu_contain {
    width: 80%;
  }
}
