.stan-carts-main{
    width: 100%;
    height: auto;
    padding-top: 60px;
    background-color: #ECECEC;
}

.stan-process{

    height: 80px;
}

.stan-process-iconarea{
    display: flex;
    justify-content: center;
    align-items: center;
}

.stan-process-circle{
    width: 35px;
    height: 35px;
    background-color: #EB5C37;
    border-radius: 50%;
}
.stan-process-line{
    width: 65px;
    height: 4px;
    background-color: #C4C4C4;
}
@media screen and (min-width:375px) {
}