$stan_color1: #eb5c37;
$stan_color2: #f9b112;
$stan_color3: #1b7754;
$stan_white: #ffffff;
$stan_black: #000000;

@font-face {
  font-family: "Noto Sans TC", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
  unicode-range: U+4E00-9FFF;
}

@font-face {
  font-family: "Playfair Display", serif;
  src: url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
  unicode-range: U+00-024F;
}

.stan_carts_main {
  width: 100%;
  height: auto;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 60px;
  background-color: #ececec;
  font-family: sans-serif;
}

// -------------------流程區-------------------
//
//

.stan_process_iconarea {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  padding-top: 75px;
}

.stan_circle {
  width: 60px;
  height: 60px;
  background-color: $stan_color1;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  position: relative;
  font-weight: 700;
}

.stan_circle:nth-child(1) {
  @extend .stan_circle;
  color: $stan_white;
}

.stan_circle:nth-child(3) {
  @extend .stan_circle;
  background-color: #c4c4c4;
  color: #737373;
}

.stan_circle:nth-child(5) {
  @extend .stan_circle;
  background-color: #c4c4c4;
  color: #737373;
}

.stan_word1::before {
  content: "確認商品\a票券及訂房資訊";
  white-space: pre;
  line-height: 20px;
  position: absolute;
  bottom: -50px;
  left: 0px;
  transform: translateX(-22%);
  color: $stan_black;
  font-size: 16px;
}

.stan_word2::before {
  content: "確認地址\a及付款方式";
  white-space: pre;
  line-height: 20px;
  position: absolute;
  bottom: -50px;
  left: 0px;
  transform: translateX(-12%);
  font-size: 16px;
}

.stan_word3::before {
  content: "完成訂單";
  position: absolute;
  bottom: -50px;
  left: 0px;
  transform: translateX(0%);
  font-size: 16px;
}

.stan_line {
  width: 205px;
  height: 4px;
  background-color: #c4c4c4;
}

//
//
// -------------------流程區結束-------------------

// -------------------中間商品區塊-------------------
//
//

.stan_carts_middle {
  padding-top: 100px;
  display: flex;
}

.stan_product_title {
  width: 770px;
  height: auto; //暫時
  background-color: $stan_white;
}

.stan_product_selector,
.stan_forcus_selector {
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.stan_selector_Item {
  width: 18%;
  margin: 8px;
  line-height: 20px;
  font-size: 1.1rem;
  font-weight: 600;
}

.stan_forcus_Item {
  margin-top: -1px;
  width: 20%;
  height: 0.6rem;
  background-color: $stan_black;
}

@media screen and (max-width: 375px) {
  .stan_carts_main {
    padding-left: 8%;
    padding-right: 8%;
  }

  // 流程區
  //
  //

  .stan_process_iconarea {
    font-size: 20px;
  }

  .stan_circle {
    width: 35px;
    height: 35px;
    line-height: 38px;
  }

  .stan_line {
    width: 65px;
  }

  .stan_word1::before {
    content: "確認商品";
    bottom: -29px;
    transform: translateX(-13%);
    font-size: 12px;
  }

  .stan_word2::before {
    line-height: 18px;
    bottom: -45px;
    transform: translateX(-20%);
    font-size: 12px;
  }

  .stan_word3::before {
    bottom: -37px;
    transform: translateX(-10%);
    font-size: 12px;
  }
  //
  //
  // -------------------流程區結束-------------------

  // -------------------中間商品區塊-------------------

  .stan_carts_midd  le {
    flex-direction: column;
  }

  .stan_product_title {
    width: 100%;
  }

  .stan_product_selector,
  .stan_forcus_selector {
    padding-left: 0%;
    padding-right: 0%;
  }

  .stan_selector_Item {
    margin: 5px;
    font-size: 14px;
  }

  .stan_forcus_Item {
    width: 20%;
    height: 0.5rem;
  }
}
//
//
// -------------------中間商品區塊結束-------------------
