// -------------------------通用-------------------------
//
//

$stan_color1: #eb5c37;
$stan_color2: #f9b112;
$stan_color3: #1b7754;
$stan_white: #ffffff;
$stan_black: #000000;

@font-face {
  font-family: "Noto Sans TC", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
  unicode-range: U+4E00-9FFF;
}

@font-face {
  font-family: "Playfair Display", serif;
  src: url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
  unicode-range: U+00-024F;
}

@mixin mobile {
  @media screen and (max-width: 375px) {
    @content;
  }
}

.stan_carts_main {
  width: 100%;
  height: auto;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 60px;
  background-color: #ececec;
  font-family: sans-serif;
  font-size: 16px;

  @include mobile {
    padding-left: 8%;
    padding-right: 8%;
  }
}

.stan_hr {
  margin: -1px 0;
  border: 1px solid $stan_black;
}
//
//
// -------------------------通用-------------------------

// -------------------------流程區-------------------------
//
//

.stan_process_iconarea {
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    padding-top: 75px;

    @include mobile {
      font-size: 20px;
    }

    li {
      width: 60px;
      height: 60px;
      background-color: $stan_color1;
      border-radius: 50%;
      text-align: center;
      line-height: 60px;
      position: relative;
      font-weight: 700;

      @include mobile {
        width: 35px;
        height: 35px;
        line-height: 38px;
      }
    }

    li:nth-child(1) {
      color: $stan_white;
    }

    li:nth-child(1)::before {
      content: "確認商品\a票券及訂房資訊";
      white-space: pre;
      line-height: 20px;
      position: absolute;
      bottom: -50px;
      left: 0px;
      transform: translateX(-22%);
      color: $stan_black;
      font-size: 16px;

      @include mobile {
        content: "確認商品";
        bottom: -29px;
        transform: translateX(-13%);
        font-size: 12px;
      }
    }

    li:nth-child(3) {
      background-color: #c4c4c4;
      color: #737373;
    }

    li:nth-child(3)::before {
      content: "確認地址\a及付款方式";
      white-space: pre;
      line-height: 20px;
      position: absolute;
      bottom: -50px;
      left: 0px;
      transform: translateX(-12%);
      font-size: 16px;

      @include mobile {
        line-height: 18px;
        bottom: -45px;
        transform: translateX(-20%);
        font-size: 12px;
      }
    }

    li:nth-child(5) {
      background-color: #c4c4c4;
      color: #737373;
    }

    li:nth-child(5)::before {
      content: "完成訂單";
      position: absolute;
      bottom: -50px;
      left: 0px;
      transform: translateX(0%);
      font-size: 16px;

      @include mobile {
        bottom: -37px;
        transform: translateX(-10%);
        font-size: 12px;
      }
    }

    div:nth-child(2),
    div:nth-child(4) {
      width: 205px;
      height: 4px;
      background-color: #c4c4c4;
      @include mobile {
        width: 65px;
      }
    }
  }

  .stan_process_iconarea_ul_02 {
    li:nth-child(3) {
      background-color: $stan_color1;
      color: $stan_white;
    }
    li:nth-child(3)::before {
      color: $stan_black;
    }
    div:nth-child(2) {
      background-color: $stan_color1;
    }
  }
  
  .stan_process_iconarea_ul_03 {
    @extend .stan_process_iconarea_ul_02;
    li:nth-child(5) {
      background-color: $stan_color1;
      color: $stan_white;
    }
    li:nth-child(5)::before {
      color: $stan_black;
    }
    div:nth-child(4) {
      background-color: $stan_color1;
    }
  }
}

//
//
// -------------------------流程區結束-------------------------

// -------------------------中間區域-------------------------
//
//

.stan_carts_middle {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;

  @include mobile {
    flex-direction: column;
  }
}

.stan_product_main {
  width: 60%;
  height: auto; //暫時
  background-color: $stan_white;

  @include mobile {
    width: 100%;
  }
}

.stan_product_selector {
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;

  @include mobile {
    padding-left: 0%;
    padding-right: 0%;
  }

  li {
    width: 18%;
    margin-top: 12px;
    line-height: 15px;
    font-size: 16px;
    font-weight: 600;

    @include mobile {
      margin-top: 10px;
      line-height: 10px;
      font-size: 14px;
    }
  }
}

.stan_forcus_selector {
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 5%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;

  @include mobile {
    padding-left: 0%;
    padding-right: 0%;
  }

  li {
    margin-top: -1px;
    width: 20%;
    height: 9.6px;
    background-color: $stan_black;
    @include mobile {
      width: 20%;
      height: 8px;
    }
  }
}

.stan_product_title {
  padding: 0px 10%;
  width: 100%;
  font-weight: 600;
  text-align: center;
  ul {
    display: flex;
    li {
      font-size: 16px;
    }
    li:nth-child(1) {
      width: 10%;
    }
    li:nth-child(2) {
      width: 20%;
    }
    li:nth-child(3) {
      width: 30%;
    }
    li:nth-child(4) {
      width: 15%;
    }
    li:nth-child(5) {
      width: 25%;
    }
  }
  @include mobile {
    padding: 0px;
    display: none;
  }
  .stan_blackhr {
    width: 100%;
    border: 1px solid $stan_black;
  }
}

.stan_product_space {
  padding: 0px 10%;
  width: 100%;
  font-weight: 600;
  text-align: center;

  @include mobile {
    padding: 0px;
  }

  ul {
    display: flex;
    margin: 40px 0;
    align-items: center;
    @include mobile {
      margin: 30px 0;
    }

    .stan_mo_product {
      display: none;
      width: 100%;
      @include mobile {
        display: block;
        text-align: left;
        padding-left: 10px;
      }
    }

    li {
      font-size: 16px;
    }
    li:nth-child(1) {
      width: 10%;
      @include mobile {
        width: 15%;
      }
    }
    li:nth-child(2) {
      width: 20%;
      @include mobile {
        width: 40%;
      }
    }
    li:nth-child(3) {
      width: 30%;
      @include mobile {
        width: 100%;
      }
    }
    li:nth-child(4) {
      width: 15%;
      @include mobile {
        width: 100%;
      }
    }
    li:nth-child(5) {
      width: 25%;
      @include mobile {
        width: 100%;
      }
    }
    .stan_ds_product {
      @include mobile {
        display: none;
      }
    }
  }

  .stan_blackhr {
    width: 100%;
    border: 1px solid $stan_black;
  }
}

.stan_product_total {
  padding: 0px 10%;
  font-weight: 600;
  text-align: center;

  @include mobile {
    display: none;
  }

  ul {
    display: flex;
    margin: 10px 0;
    font-size: 16px;

    li:nth-child(1) {
      width: 60%;
    }
    li:nth-child(2) {
      width: 15%;
    }
    li:nth-child(3) {
      width: 25%;
    }
  }
}

.stan_block {
  display: none;

  @include mobile {
    display: block;
    width: 100%;
    height: 30px;
    background-color: #ececec;
  }
}

.stan_checkout_area {
  width: 33%;
  height: auto; //暫時
  background-color: $stan_white;
  font-size: 16px;
  font-weight: 600;

  @include mobile {
    width: 100%;
  }
}

.stan_tempay {
  display: none;

  @include mobile {
    display: flex;
    justify-content: center;
    margin: 2% 0px;
  }
}
.stan_temline {
  display: none;

  @include mobile {
    display: block;
    margin: -1px 0;
  }
}

.stan_checkout {
  padding: 8% 10% 12% 10%;
  line-height: 30px;

  @include mobile {
    padding-top: 3%;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 14px;
    line-height: 20px;
  }

  ul {
    display: flex;
    justify-content: space-between;

    @include mobile {
      padding: 0px 8%;
    }
  }
}

.stan_foralign {
  display: flex;
  justify-content: space-between;

  @include mobile {
    padding: 0px 8%;
  }
}

.stan_checkouthr {
  margin-top: 10px;
  margin-bottom: 10px;

  @include mobile {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.stan_checkout_btn {
  margin-top: 30px;
  width: 100%;
  height: 50px;
  border: 0px;
  background-color: $stan_color2;
  font-size: 16px;
  font-weight: 600;

  @include mobile {
    display: none;
  }
}

.stan_checkout_btn2 {
  display: none;

  @include mobile {
    display: block;
    margin: 20px 0;
    width: 100%;
    height: 50px;
    border: 0px;
    background-color: $stan_color2;
    font-size: 16px;
    font-weight: 600;
  }
}

//
//
// -------------------------中間區域結束-------------------------
