@font-face {
  font-family: "Noto Sans TC", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
  unicode-range: U+4E00-9FFF;
}

@font-face {
  font-family: "Playfair Display", serif;
  src: url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
  unicode-range: U+00-024F;
}
:root {
  --tour_color: #f9b112;
  --tour_color2: #eb5c37;
  --tour_fontSize: 1.2rem;
  --tour_fontWeight: 600;
  --tour_showdow: 0 0 3px #f9b01210;
  --tour_inputMargin: 1.8rem 0 0 1.8rem;
  --tour_chinesefont: "Noto Sans", sans-serif;
}


.tourbackground{
  position: absolute;

img{
  width: 100%;
  }
}

.tourback {
 height: 80vh;
  width: 100%;
  z-index: 0;
  background-color: #000;
  
 
}

.tourContainer {
  min-height: 50rem;
  position: relative;
  width: calc(100% - 60px);
  padding-top: 60px;
  margin: 0px 30px 0px 30px;
}

.tour_Group {
  display: flex;
  padding-top: 5rem; 
  flex-wrap: wrap;
}
.tourGuide1 {
  max-Width:30%;
}
.tourtextArea1{
   color: #ffffff;
  }
.tourH2{
  font-size: 6rem;
}

.tourP1 {
  font-size:3rem;
}
.tourGuide1 img{
    width: 100%;
}
.tourGuide2{
   width:70%;
   display: flex;
   color: white;
}
.tourGuide2 figure{
  height:40vw;
  max-width:25%;
  text-align: center;
}
.tourR1img img{
  width:100%;
  height:100%;
  object-Fit: cover;
  object-Position:35%;
}
.tourR2img img{
  width:100%;
  height:100%;
  object-Fit: cover;
  object-Position:70%;
  
}
.tourR3img img{
  width:100%;
  height:100%;
  object-Fit: cover;
  object-Position:70%;
}
.tourR4img img{
  width:100%;
  height:100%;
  object-Fit: cover;
  object-Position:70%;

}
.tourR1img{
  opacity:0.8;

}
.tourR1img:hover{
  margin-top:-20px;
  opacity: 1;
}
.tourR2img:hover{
  margin-top:-20px;
  opacity: 1;
}
.tourR3img:hover{
  margin-top:-20px;
  opacity: 1;
}
.tourR4img:hover{
  margin-top:-20px;
  opacity: 1;
}
.tourR2img {
   margin: 6% 0 1% 0;
   opacity:0.8;
}
.tourR3img {
  margin: 3% 0 4% 0;
  opacity:0.8;
}
.tourR4img {
  margin: 0 0 7% 0;
  opacity:0.8;
}
figcaption {
  font-weight: var(--tour_fontWeight);
  font-size: var(--tour_fontSize);
  
}
#container2 {
  min-height: 45vh;
}
.tourCenterIndustry {
  width: 100%;
  min-height: 25rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: 7%;
}

.tourCenterCard {
  width: 100%;
  height: 100%;
  background-color: #000000;
  padding-top: 3%;
  text-align: center;
}


.figure {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.figure:hover{
  transition: 1s;
  transform: scale(1.3);
}
.figure img {
  width: 100%;
  height: 100%;
}
.tourLifeTitle{
  width: 300px;
  height: 300px;
}

.tourTitle {
  font-weight: var(--tour_fontWeight);
  font-size: var(--tour_fontSize);
}
.tourCardTwoText {
  font-weight: var(--tour_fontWeight);
  font-size: var(--tour_fontSize);
  color: #ffffff;
  word-wrap: break-word;
}
.tourCenterText {
  font-weight: var(--tour_fontWeight);
  font-size: var(--tour_fontSize);
  color: #ffffff;
}
.tourdescription{
   display: flex;
  padding-top: 2rem; 
  width: 100%;

  
}
.tourdescriptiongGuild{
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;

}
.tourdescriptionGuild1{
  width: 100% ;
}
.tourdescriptionGuild2{
  width: 100% ;
  
}
.tourdescriptionpic img{
  width: 100% ;
  
}
.tourdescriptionGuild2{
  width: 100%;
  display:flex;
  flex-direction: column;
 
}
.tourdescriptionGuild2Text{
  width: 100%;
  height: 200px;
  white-space:normal;
  
}
.tourdescriptionGuild2Text>h2{
  color:var(--tour_color);
}
.tourdescriptionGuild2Text p{
  color: white;
  font-Size:var(--tour_fontSize);
  font-weight: var(--tour_fontWeight);
}
.tourdescriptionGuild2Icon{
  width: 100%;
}
.tourdescriptionGuild2Iconbox{
  display: flex;
  justify-content:space-between;
}
.tourdescriptionGuild2Icon1{
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  background-image: url(./imgs/footprint.svg);
  background-repeat: no-repeat;
}
.tourdescriptionGuild2Icon2{
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  background-image: url(./imgs/food.svg);
  background-repeat: no-repeat;
}
.touradoptbtn{
  font-family: var(--tour_chinesefont);
  color:white;
  font-size: 1.5rem;
  background-color: var(--tour_color);
  border-radius: 0;
  width: 200px;
  height: 100px;
}
.tourLife{
  margin-top: 100px;
}

.tourLifeTop{
  width: 300px;
  height: 300px;
}
.tourLifeToppic{
  width: 200px;
  height: 200px;
}
.tourLifeToppic1{
  width: 100%;
  height: 100px;
  object-fit: cover;
  object-position: 35%;
}
// .slide{
//   width: 50%;
//   clip-path: circle(40%);
// }
// .slide img{
//   width:100%;
// }
.material-icons{
  color:red;
}
.col-2 img{
  width: 400%;
  height: 100%;
}
.Carousel__ItemSet{
  margin-top:50px ;
}



@media screen and (min-width: 980px) {
  .tourContent {
    font-size: 400%;
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
    font-weight: var(--tour_fontWeight);
  }
  .tour_h2 {
    font-size: 25px;
  }
  .tourRightIndustry table {
    table-layout: fixed;
  }
  .tourText {
    font-size: 20px;
    text-align: center;
  }
  .tourRightIndustry figcaption {
    font-weight: var(--tour_fontWeight);
    font-size: 24px;
  }
  .tourCenterText {
    font-weight: var(--tour_fontWeight);
    font-size: var(--tour_fontSize);
    left: 30%;
    color: #ffffff;
  }
  .tourCenterIndustry {
    width: 100%;
    flex-wrap: nowrap;
  }
  #Centerimg2 {
    margin-top: -20px;
    margin-bottom: 20px;
  }
  #Centerimg3 {
    margin-top: -40px;
    margin-bottom: 40px;
  }
  #Centerimg4 {
    margin-top: 20px;
    margin-bottom: -20px;
  }
  figcaption {
    font-weight: var(--tour_fontWeight);
    font-size: var(--tour_fontSize);
    font-size:2rem;
  }
  .tourdescriptionGuild1{
    width: 50% ;
  }
  .tourdescriptionGuild2{
    width: 40% ;
  }
  .tourback{
     height: 95vh;
  }
  .tourdescriptionGuild2Text{
    width: 100%;
    height: 300px;
  }
  .tourLife{
    margin-top: 300px;
  }

}
@media screen and (max-width: 768px) {
  .tourGuide1 {
    min-width: 100%;
  }

  .tourGuide2 {
    min-width: 100%;
  }
  .tourGuide1 img {
    display: none;
  }
  
}
